* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
}

.container {
  width: 90%;
  max-width: 1250px;
  margin: auto;
}

.meet-the-team {
  margin-top: 4rem;
}

.meet-the-team-heading {
  font-family: 28px;
  color: #1a5980;
  text-align: center;
  padding-bottom: 10px;
}

.meet-the-team-text {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.meet-the-team-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 60px;
  padding-top: 4rem;
}

.team-member-card {
  width: 300px;
  height: 500px;
  box-shadow: 0px 11px 12px -10px rgba(140, 140, 140, 1);
  border-radius: 0px 0px 7px 7px;
}

.team-member-img {
  display: block;
  width: 300px;
  border-radius: 7px 7px 0px 0px;
}

.team-member-text {
  text-align: center;
  padding: 0px .5rem;
}

.team-member-name {
  padding: 10px 0px 5px 0px;
}

.blue-line {
  height: 3px;
  width: 30%;
  background-color: #1a5980;
  margin: 10px auto;
}

.team-member-p {
  padding: 5px;
  line-height: 1.6;
}